* {
    margin:0;
    padding:5px; 
    font-family: sans-serif;
    }

body {
    background-color: #2a2f30;
  }
header {
    margin: 0 auto 5px auto;
    justify-content: center;
    text-align: center;
}
h1 {
    color: #fc7930ff;
    margin: 0 auto;
    text-align: center;
}
h2 {
    text-align: center;
    margin: 5px auto;
    font-family: sans-serif;
    color: #fc7930ff;
}

.row {
    display: flex;
    margin: 5px auto;
    align-items: center;
    justify-content: center;
}


.serverstatusblock {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #171816;
    padding: 5px;
    margin: 0px 40px 0px 50px;
    width: 48%;
    height: 190px;
    border: 1px solid #514e4a;
    border-radius: 7px;
}
.bannerblock {
    width: 32%;
}
.banner {
    width: 100%;
    border: 1px solid #514e4a;
    border-radius: 3px;
}
.banner img {
    outline: 1px solid #514e4a;
}
.serverstatusblock a {
    height: 30%;
}

.serverstatusblock a:link {
    text-decoration: none;
  }
.buttonandsummary {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.buttonandsummary p {
    width: 73%;
}

button {
    display: inline-block;
    background-color: rgb(5, 143, 5);
    color: white;
    margin: 0px auto;
    margin-bottom: 0px;
    border-radius: 4px;
    font-size: 16px;
    width: 20%;
}
.status {
    margin-bottom: 20px;
}

p {
    margin-top: 10px;
    font-size: 12px;
    font-family: sans-serif;
    color: #fc7930ff;
    text-align: right;
}
h5 img {
    width: 20px;
}

button a, button a:visited {
    text-decoration: none;
    color: white;
}
h5 {
    font-family: sans-serif;
    color: #fc7930ff;
    margin: 0 auto;
    text-align: center;
}
.zombielynxlogo {
    display: inline-block;
    width: 25%;
    margin-top: 0px;
}
