* {
    margin:0;
    padding:5px; 
    font-family: sans-serif;
    }

body {
    background-color: #2a2f30;
  }
header {
    margin: 0 auto 5px auto;
    justify-content: center;
    text-align: center;
}
h1 {
    color: #fc7930ff;
    margin: 0 auto;
    text-align: center;
}
h2 {
    text-align: center;
    margin: 5px auto;
    font-family: sans-serif;
    color: #fc7930ff;
}

.row {
    display: flex;
    margin: 5px auto;
    align-items: center;
    justify-content: center;
}


.serverstatusblock {
    display: block;
    align-items: center;
    justify-content: center;
    background-color: #171816;
    padding: 5px;
    margin: 0px 20px 0px 20px;
    width: 20%;
    height: 23%;
    border: 1px solid #514e4a;
    border-radius: 7px;
}
.bannerblock {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0px;
    width: 95%;
}
.banner {
    padding: 0px;
    width: 100%;
    border: 1px solid #514e4a;
    border-radius: 3px;
}
.banner img {
    padding: 0px;
    width: 279px;
    outline: 1px solid #514e4a;
}
.serverstatusblock a {
    height: 30%;
}

.serverstatusblock a:link {
    text-decoration: none;
  }
.buttonandstatus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
button {
    display: inline-block;
    background-color: rgb(5, 143, 5);
    color: white;
    margin: 0px auto;
    margin-bottom: 0px;
    border-radius: 4px;
    font-size: 1vw;
    width: 20%;
}
@media screen and (max-width: 600px) {
    button {
      font-size: 6px;
    }
    .serverstatusblock {
        margin: 0 auto;
        width: 50%;
    }
    .row {
        display: block;
    }
  }
.status {
    width: 75%;
    padding: 0px;
}
.status img {
    border-radius: 4px;
    padding: 0px;
    width: 80%;
}
p {
    margin-top: 10px;
    font-size: 12px;
    font-family: sans-serif;
    color: #fc7930ff;
    text-align: right;
}
h5 img {
    width: 20px;
}

button a, button a:visited {
    text-decoration: none;
    color: white;
}
h5 {
    font-family: sans-serif;
    color: #fc7930ff;
    margin: 0 auto;
    text-align: center;
}
.zombielynxlogo {
    display: inline-block;
    width: 25%;
    margin-top: 0px;
}
