* {
    margin:0;
    padding:5px; 
    font-family: sans-serif;
    }

body {
    background-color: #2a2f30;
  }

h1 {
    color: #fc7930ff;
    margin: 0 auto;
    text-align: center;
}

.serverstatusblock {
    display: inline-block;
    background-color: #171816;
    padding: 5px;
    margin: 5px;
    width: 720px;
    height: 295px;
    border: 1px solid #514e4a;
    border-radius: 7px;
}

.thumbnail {
    margin-left: 11px;
    width: 270px;
    height: 160px;
    outline: 1px solid #514e4a;
}

.buttonandsummary {
    display: inline-block;
    max-width: 410px;
    height:100px;
}

button {
    display: block;
    background-color: rgb(5, 143, 5);
    color: white;
    margin: 0 auto;
    margin-bottom: 40px;
    border-radius: 4px;
    font-size: 16px;
    width: 200px;
}

button a, button a:visited {
    text-decoration: none;
    color: white;
}

p {
    font-size: 10px;
    color: #fc7930ff;
    font-family: sans-serif;
    height: 65px;
}

h3 {
    font-family: sans-serif;
    color: #fc7930ff;
    margin: 0px;
    text-align: center;
}

header {
    height: 95px;
}

h2 {
    font-family: sans-serif;
    display: inline-block;
    font-family: sans-serif;
    color: #fc7930ff;
    margin: 0 0 0 160px;
    text-align: center;
}

.zombielynxlogo {
    display: inline-block;
    width: 490px;
    margin-top: 0px;
}
