* {
    margin:0;
    font-family: sans-serif;
    }

body {
    background-color: #2a2f30;
    width: fit-content;
  }
header {
    background-color: #2a2f30;
    padding-bottom: 20px;
    width: 100%;
}
nav {
    display: flex;
    background-image: url("https://images.squarespace-cdn.com/content/v1/5570c758e4b072434aa0b518/1478545350810-9OEHY5HE2DPFFKUSCEFV/blue+box+background+copy+copy.jpg?format=2500w");
    background-size: 30%;
    width: 100%;
    height: 70px;
    text-align: center;
    margin: 0 auto;
    display: flex;            
    align-items: center;
     
     
}
nav h1{
    color: rgb(219, 219, 219);
}

.logocontainer {
    width: 24%;
    margin-left: 5px;
}

ul {
    display: flex;
    position: relative;
    top: 5px;
    left: 10px;
    width: 75%;
    list-style-type: none;
    text-decoration: none;
}
ul a {
    display: flex;
}
ul img {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
li img {
    display: block;
    width: 30px;
    height: 30px;
    padding: 5px;
}
h5 {
    color: white;
    text-align: center;
    width: 75%;
    margin: 0 auto;
}
.navlink {
    display: flex;
    width: 10%;
    font-family: sans-serif;
}
.navlink a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(209, 209, 209);
}
.nav1 {
    margin-bottom: 10px;
    list-style-type: none;
}
li {
    width: 25%;
}
h1 {
    color: #fc7930ff;
    margin: 0 auto;
    text-align: center;
}
h2 {
    text-align: center;
    margin: 5px auto;
    font-family: sans-serif;
    color: rgb(250, 248, 248);
}

.row {
    display: flex;
    margin: 5px auto;
    align-items: center;
    justify-content: center;
}


.serverstatusblock {
    display: block;
    align-items: center;
    justify-content: center;
    background-color: #171816;
    padding: 5px;
    margin: 0px 20px 0px 20px;
    width: 20%;
    height: 23%;
    border: 1px solid #514e4a;
    border-radius: 7px;
}
.bannerblock {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0px;
    width: 95%;
}
.banner {
    padding: 0px;
    width: 100%;
    border: 1px solid #514e4a;
    border-radius: 3px;
}
.banner img {
    padding: 0px;
    width: 279px;
    outline: 1px solid #514e4a;
}
.serverstatusblock a {
    height: 30%;
}

.serverstatusblock a:link {
    text-decoration: none;
  }
.buttonandstatus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
button {
    display: inline-block;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/87/470/339/abstract-grunge-texture-old-wallpaper-preview.jpg);
    background-size: contain;
    background-color: rgb(5, 143, 5);
    color: white;
    margin: 0px auto;
    margin-bottom: 0px;
    border-radius: 4px;
    font-size: 1vw;
    width: 20%;
}
@media screen and (max-width: 1764px) {
    h6 {
        font-size: 8px;
    }
    ul {
        width: 100%;
    }
}
@media screen and (max-width: 1530px) {
    h6 {
        display: none;
    }
    ul {
        width: 100%;
    }
}
@media screen and (max-width: 837px) {
    button {
      font-size: 6px;
    }
    .serverstatusblock {
        margin: 0 auto;
        width: 50%;
    }
    .row {
        display: block;
    }
    h6 {
        display: none;
    }
    body {
        max-width: fit-content;
    }
    header {
        height: 120px;
    }
    nav {
       display: block;
       width: 100%; 
    }
    .zombiebanner {
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: 0 auto;
    }
    ul {
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
  }
.status {
    width: 75%;
    padding: 0px;
}
.status img {
    border-radius: 4px;
    padding: 0px;
    width: 80%;
}
p {
    margin-top: 10px;
    font-size: 12px;
    font-family: sans-serif;
    color: #fc7930ff;
    text-align: right;
}


button a, button a:visited {
    text-decoration: none;
    color: white;
}

.zombielynxlogo {
    display: inline-block;
    width: 25%;
    margin-top: 0px;
}
