body, html, section {
    background-color: #202124;
    color: white;
}
.title {
    background: rgb(32,33,36);
    background: linear-gradient(0deg, rgb(20, 21, 22) 0%, rgb(54, 55, 56) 50%, rgb(54, 54, 54) 100%);
}
.glass-background {
    background: rgba(142, 138, 138, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(142, 138, 138, 1);
}
h2:after
{
    content:'';
    display:block;
    border:1px solid #FE842C;
    border-radius: 3px;
    width: 10%;
}
/* .line:after {
    content:' ';
    display:block;
    border:1px solid #35363a;
    border-radius: 3px;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
} */
nav {
    background-color: #35363A;
}
span {
    font-size: .6em;
    vertical-align: text-top;
}
nav ul li, #skills ul li {
    list-style-type: none;
}
.javascriptProjects {
    overflow-x: scroll;
}
.carousel-item {
    height: 28rem;
    margin-top: 10px;
}
.projMenu a {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: rgb(32,33,36);
    background: linear-gradient(0deg, rgba(32,33,36) 0%, rgba(12,140,233) 100%);
    border: 0px;
}
.carousel-inner {
    background: rgb(36, 32, 32);
    background: linear-gradient(0deg, rgba(32,33,36,1) 0%, rgb(51, 50, 50) 50%, rgba(32,33,36,1) 100%);
    border-radius: 3px;
}
.contact a i{
    color:#FE842C;
}
#navbar .active {
    color: white;
    background-color: #35363A;
}
.nav-link:hover {
    color: #FE842C;
}
a {
    color: white;
}
.resume-item {
    border-left: 1px solid #FE842C;
    padding: 20px;
    padding-top: 0;
    border-radius: 3px;
}
.resume-item ul {
    list-style: none; /* Remove default bullets */
}
.resume-item ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #FE842C; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}

@media (min-width: 576px) {
    body, html, section { 
    background-color: #35363A;
    }
    .glass-background {
        background: none;
        border: none;
        box-shadow: none;
    }
}
@media (max-width: 992px){
    .side-md-color {
        color: #FE842C;
    }
}
@media (min-width: 993px) {
    .side-md-color {
        color: white;
    }
    .glass-background {
        background: none;
        border: none;
        box-shadow: none;
    }
    .carousel-inner {
        background: none;
    }
}

