* {
    margin:0;
    padding:0; 
    }
body {
    background-size: 100%;
    background-color: #b4b4b4;
    font-family: sans-serif;
  }
header {
    background-color: #2a2f30;
    padding-bottom: 20px;
    width: 100%;
    vertical-align: middle;
}
nav {
    background-image: url("https://images.squarespace-cdn.com/content/v1/5570c758e4b072434aa0b518/1478545350810-9OEHY5HE2DPFFKUSCEFV/blue+box+background+copy+copy.jpg?format=2500w");
    background-size: 30%;
    width: 100%;
    margin: auto;
    display: flex; 
    position: fixed;            
    align-items: center; 
    border-bottom: 1px solid #b4b4b4;   
}
nav h1{
    color: rgb(219, 219, 219);
}
ul {
    align-items: right;
    padding-left: 10px;
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
    margin-bottom: 10px;
    margin-left: 40px;
}
nav img {
    margin-left: 10px;
    width: 100px;
}
.navlink {
    display: inline-block;
    margin: 17px 10px 0 10px;
    font-family: sans-serif;
}
.navlink a {
    text-decoration: none;
    color: rgb(209, 209, 209);
}
.nav1 {
    margin-bottom: 10px;
    list-style-type: none;
}
.homeicon {
    display: inline-block;
    width: 40px;
    margin: 10px 10px 0px;
}
.photoquote {
    display: flex;
    padding-top: 20px;
    margin: 0 auto;
    align-items: center;
    height: 290px;
    color: #2a2f30;
}
.photoquote img {
    margin: 0 auto;
    display: inline-block;
    padding:10px;
    width: 200px;
    border-radius: 50% ;
}
.photoquote p {
    width: 500px;
    margin: 0 auto;
    font-size: 30px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}
.aboutme {
    display: flex;
    margin: 0 auto;
    align-items: center;
    background-image: url("https://images.squarespace-cdn.com/content/v1/5570c758e4b072434aa0b518/1478545350810-9OEHY5HE2DPFFKUSCEFV/blue+box+background+copy+copy.jpg?format=2500w");
    background-size: 80%;
    background-color: #2a2f30;
    padding-top: 20px;
    color:rgb(209, 209, 209);
    height: 300px;
}
.aboutme p {
    margin-top: 10px;
    font-size: 20px;
}
.aboutme h1 {
    margin-bottom: 10px;
    color: rgb(219, 219, 219);
}
.bio {
    width: 600px;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
.slides {
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
}
.mySlides {
    border-radius: 4px;
    display:none;
}
.career{
    background-size: 100%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding-top: 20px;
    height: 300px;
}
.career p {
    margin-top: 10px;
    font-size: 20px;
}
.devsum{
    width: 600px;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
}
.firstproj{
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
}
.timeline {
    display: flex;
    margin: 0 auto;
    align-items: center;
    background-image: url("https://images.squarespace-cdn.com/content/v1/5570c758e4b072434aa0b518/1478545350810-9OEHY5HE2DPFFKUSCEFV/blue+box+background+copy+copy.jpg?format=2500w");
    background-size: 80%;
    background-color: #2a2f30;
    padding-top: 20px;
    color:rgb(209, 209, 209);
    height: 400px;
}
.timeline p {
    margin-top: 10px;
    font-size: 20px;
}
.timeline h1 {
    color: rgb(219, 219, 219);
}
.timelinesummary {
    width: 400px;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
.calendar {
    justify-content: center;
    width: 1200px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
    padding-right: 50px;
}
.banner{
    background-image: url("https://images.squarespace-cdn.com/content/v1/5570c758e4b072434aa0b518/1478545350810-9OEHY5HE2DPFFKUSCEFV/blue+box+background+copy+copy.jpg?format=2500w");
    background-size: 80%;
    margin: 10px auto;
    width: 100%;
    height: 90px;
    color: rgb(219, 219, 219);
    justify-content: center;
    text-align: center;
    padding: 5px;
}
.banner h1{
    padding: 20px;
    font-size: 50px;
}
.banner p {
    font-size: 30px;
}
.singleprojcontainer {
    background-color: #b4b4b4;
    padding: 20px 0px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 350px;
}
.singleproj {
    display: flex;
    margin: 10px auto;
    align-items: center;
    background-color: #b4b4b4;
    padding-top: 20px;
    color:black;
    width: 75%;
    height: 300px;
}
.singleprojsum {
    width: 600px;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
.singleproj p {
    text-align: left;
    margin-top: 10px;
    font-size: 20px;
}
.singleproj h1 {
    margin-bottom: 10px;
    color: rgb(219, 219, 219);
}
.singleproj img {
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
}
.links {
    align-items: center;
    text-align: center;
}
.links img {
    margin: 20px 50px;
}
.website {
    margin: 0 auto;
    width: 50px;
}
.youtube {
    margin: 0 auto;
    width: 75px;
}
.github {
    margin: 0 auto;
    width: 50px;
}
.gif {
    width: 400px;
}
hr {
    text-align: center;
    margin: 0 auto;
    width: 1300px;
}
.skillitems {
    display: flex;
    margin: 10px auto;
    width: 60%;
    align-items: center;
    text-align: center;
}
.skillitems h3 {
    width: 400px;
    text-align: center;
}
.skillitems p {
    width: 600px;
    text-align: left;
}
.skillitems h3, .skillitems p {
    justify-content: center;
    margin: 10px auto;
    font-size: 24px;
}
