* {
    margin:0;
    font-family: sans-serif;
    }

body {
    background-color: #2a2f30;
    width: fit-content;
  }
header {
    background-color: #2a2f30;
    padding-bottom: 20px;
    width: 100%;
}
nav {
    background-image: url("https://images.squarespace-cdn.com/content/v1/5570c758e4b072434aa0b518/1478545350810-9OEHY5HE2DPFFKUSCEFV/blue+box+background+copy+copy.jpg?format=2500w");
    background-size: 30%;
    width: 100%;
    height: 70px;
    text-align: center;
    margin: 0 auto;
    display: flex;            
    align-items: center; 
    border-bottom: 1px solid #b4b4b4;   
}
nav h1{
    color: rgb(219, 219, 219);
}
ul {
    display: flex;
    width: 78%;
    align-items: center;
    justify-content: center;
    text-align: right;
    list-style-type: none;
    text-decoration: none;
}
ul a {
    display: flex;
}
ul img {
    display: inline-block;
    width: 30px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
li img {
    width: 30px;
}
h6 {
    padding-top: 15px;
    text-align: center;
    display: flex;
    width: 75%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    vertical-align: center;
}
.navlink {
    display: flex;
    width: 10%;
    font-family: sans-serif;
}
.navlink a {
    text-decoration: none;
    color: rgb(209, 209, 209);
}
.nav1 {
    margin-bottom: 10px;
    list-style-type: none;
}
li {
    width: 25%;
}
h1 {
    color: #fc7930ff;
    margin: 0 auto;
    text-align: center;
}
h2 {
    text-align: center;
    margin: 20px auto;
    font-family: sans-serif;
    color: #fc7930ff;
}
button {
    display: inline-block;
    background-color: rgb(5, 143, 5);
    color: white;
    margin: 0px auto;
    margin-bottom: 0px;
    border-radius: 4px;
    font-size: 1vw;
    width: 20%;
}

.wrapper{
    display: block;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 100%;
    border: 1px solid #514e4a;
    border-radius: 4px;
}
.mcwall, .status, .mcwall2 {
    display: block;
    width: 100%;
    margin: 0 auto;
}
.row {
    display: flex;
    margin: 0 auto;
    width: 50%;
}
@media screen and (max-width: 1764px) {
    h6 {
        font-size: 8px;
    }
    ul {
        width: 100%;
    }
}
@media screen and (max-width: 1530px) {
    h6 {
        display: none;
    }
    ul {
        width: 100%;
    }
}
@media screen and (max-width: 837px) {
    button {
      font-size: 6px;
    }
    h6 {
        display: none;
    }
    body {
        max-width: fit-content;
    }
    header {
        height: 120px;
    }
    nav {
       display: block;
       width: 100%; 
    }
    .zombiebanner {
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: 0 auto;
    }
    ul {
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
  }
p {
    margin-top: 10px;
    font-size: 12px;
    font-family: sans-serif;
    color: #fc7930ff;
    text-align: right;
}
h5 img {
    width: 20px;
}

button a, button a:visited {
    text-decoration: none;
    color: white;
}
h5 {
    font-family: sans-serif;
    color: #fc7930ff;
    margin: 0 auto;
    text-align: center;
}
.zombielynxlogo {
    display: inline-block;
    width: 25%;
    margin-top: 0px;
}
